*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap{
    margin: auto;
}

.cabecera{
    position: relative;
    margin: 0;
}

.cabecera h1, .cabecera h2 {
    position: absolute;
    color: #fff;
}

.cabecera h1{
    top: 10%;
    left: 40%;
    font-size: 3rem;
}

.cabecera h2{
    bottom: 30%;
    left: 10%;
    line-height: 2.2rem;
    margin-bottom: 0;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    background-color: #7299FE80;
}

.cabecera figure{
    margin: 0;
}

.cabecera figure img{
    display: block;
    width: 100%;
    margin: 0;
}

/*about me */

.sobre-mi{
    padding: 30px 40px 70px 40px;
    background-color:#7299FE ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sobre-mi h2{
    color:#1D06A7 ;
    text-align: center;
    font-size: 1,5rem;
   
    
}

.sobre-mi p{
    color: #fff;
    margin-bottom: 20px;
}

.boton-estilo{
    width: 187px;
    height: 62px;
    left: 38px;
    top: 811px;
    background-color: #D16FFF;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 

 .boton-estilo:hover{
    background-color: #9866af;
    color: black;
    font-weight: bold;
  
 }



.skills h2{
    color:#26CC4B ;
    text-align: center;
    font-size: 1,5rem;
    
}

.skills{
    padding: 30px 40px 70px 40px;
    background-color:#9022FF ;    
}

.skills_tipos{
    display: flex;
    color: #fff;
}

.skills_G1{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.skills_G2{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.portafolio h2{
    color:#00AD84 ;
    text-align: center;
    font-size: 1,5rem;
    
}

.portafolio{
    padding: 30px 40px 70px 40px;
    background-color:#FFD233 ; 
       
}

.portafolio_tipos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portafolio_G1, .portafolio_G2, .portafolio_G3, .portafolio_G4 {
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clientes{
    padding: 30px 40px 70px 40px;
    background-color:#3F4E62 ; 
       
}

.clientes h2{
    color:#ADFF28;
    text-align: center;
    font-size: 1,5rem;
    
}

.clientes_tipos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clientes_G1, .clientes_G2, .clientes_G3, .clientes_G4 {
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.contacto{
    padding: 30px 60px 70px 60px;
    background-color: #1687A0;
}
.contacto h2{
    color: #FF1B1B;
    text-align: center;
    font-size: 1,5rem;
    
}

.contacto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto div{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
}
.contacto input{
    padding: 20px 0 20px 5px;
    /* margin: 0 30px 30px 0; */
    width: 48%;
    
}

.contacto textarea{
    width: 100%;
    padding: 20px 0 70px 5px;
    margin-bottom: 40px;
}

.contacto button{
    width: 25%;
    height: 56px;
    font-weight:700;
    font-family: Arial;
    border: none;
    background-color: #233451;
    color: #fff;
    font-size: 1.8rem;
}